<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<table border="2">
    <tr>
        <th>id</th>
        <th>parent</th>
        <th>name</th>
        <th>hash</th>
        <th>isDeleted</th>
        <th>insertTimestamp</th>
        <th>modifyTimestamp</th>
    </tr>
    <tr th:each="organization : ${organizations}">
        <td th:text="${organization.id}"></td>
        <td th:text="${organization.parent}"></td>
        <td th:text="${organization.name}"></td>
        <td th:text="${organization.hash}"></td>
        <td th:text="${organization.isDeleted}"></td>
        <td th:text="${organization.insertTimestamp}"></td>
        <td th:text="${organization.modifyTimestamp}"></td>
    </tr>
</table>
<br>
<form action="update" method="get">
    <input type="submit" value="Обновить"/>
</form>

<br>
<br>
<br>
<input type="button" onclick="document.location='/'" value="Главная">
<input type="button" onclick="history.back();" value="Назад">
</body>
</html>